/*
COLOR PALLETE
#2C2C34 Raisin Black
#494850 Dark Liver
#A499B3 Heliotrope Gray
#C2EFEB Powder Blue
#F9C784 Gold Crayola

Experimental Pallete:
#000000 Black
#2F4550 Charcoal
#586F7C Cadet
#B8DBD9 Powder Blue
#F4F4F9 Ghost White
#7D8491 Roman Silver
#C0C5C1 Silver Sand
#F9F8F8 Cultured 

*/

/* Global Styles
----------------------------------------------------*/

a {
    color: whitesmoke;
}
a:active {
    color: whitesmoke
}
a:hover {
    text-decoration: none;
}

body {
    color: #2F4550; 
    margin: 0;
    padding: 0;
    /*font-family: Arial, Helvetica, sans-serif*/
}

.content-wrap {
    width: 800px;
    margin: 0 auto;
    padding: 60px 0;
}

.center {
    text-align: center;
    align-items: center;
    align-self: center;
}

@font-face {
    font-family: 'Courier New', Courier, monospace;
    src: url();
}

/*img {
    /*height: 300px;
    width: 500px;
}

*/


/* Selector_Bar 
--------------------------------------------------------*/
header {
    background: #3b3b3f;
    color: #F4F4F9;
    border:50px;
}

.content-wrap-selector {
    width: 1400px;
    margin: 0 auto;
    padding: 30px 0;
}

.content-wrap-selector .btn {
    color: #F4F4F9;
    background: #3b3b3f;
    text-decoration: none;
    padding: 12px;
    border-radius: 4px;
    display: inline-block;
}
.content-wrap-selector .btn:hover {
    background: rgba(88, 111, 124, 80%);
}

.content-wrap-selector a {
    color: white;
    text-decoration: none;
}

.content-wrap-selector a:active {
    color: white;
    text-decoration: none;
}

.content-wrap-selector a:hover {
    text-decoration: none;
}

/* Banner 
---------------------------------------------------*/
.banner {
    padding: 0px;
    margin: 0px;
}

/* Content of the Article
-----------------------------------------------------*/
.research {
    background: #F0F6F6;
    padding: 0px;
    margin: 0px;
}

.thayer img {
    width: 300px;
    height: 600px;
    align-self: center;
}

.classes img {
    width: 800px;
    height: 540px;
    align-self: center;
}




/* Publications
------------------------------------------------------*/
.publications a {
    color: #609ebd
}

.publications a:active {
    color: #609ebd
}

.publications a:hover {
    text-decoration: none;
}

.btn {
    color: #F4F4F9;
    background: #B8DBD9;
    text-decoration: none;
    padding: 12px;
    border-radius: 4px;
    display: inline-block;
}

.btn:hover {
    background: rgba(184, 219, 217,80%);
}

.publications img {
    float: left; 
    height: 125px; 
    width: 200px; 
    padding: 10px;
}

/* People
------------------------------------------------------------*/
.people a {
    color: #2C2C34
}

.people a:active {
    color: #2C2C34
}

.people a:hober {
    text-decoration: none;
}

.people h2 {
    margin-top: 30px;
}

.people-item {
    overflow: hidden;
    border-bottom: 1px dashed #586F7C;
    padding: 25px 0;
}

.people img {
    height: 325px;
    width: 325px;
    float: left;
    padding: 25px;

}

/* Videos
----------------------------------------------------------------*/
.videos {
    background: #2F4550;
    padding: 0px;
    margin: 0px;
    color: #F4F4F9;
}



/* Footer
--------------------------------------------------------------*/
footer {
    background: #2F4550;
    color: #F4F4F9;
}
